<div class="input-group">
    <input type="hidden" name="ngModel" id="ngModel" ng-model="ngModel" />
    <input name="sector" id="NAME_LOWER" placeholder="{{placeholder}}" ng-click="selectNAME()" type="text"
           class="form-control clickable app-select" readonly="readonly" value="{{NAME_LOWER.name}}" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-secondary" ng-click="selectNAME()">
            <i class="fa fa-search"></i>
        </button>
    </span>
</div>
