@using WEB.Models
@model ResetPasswordViewModel

@using (Html.BeginForm("ResetPassword", "Account", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address", maxlength = 100 })
        </div>
    </div>

    <input id="loginButton" type="submit" class="btn btn-primary btn-block" value="Reset Password" />

    <p>
        <a href="login">return to login</a>
    </p>

}
