<div>

    <form ng-submit="vm.runSearch(0)" novalidate>

        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <ol id="parentEntityId" name="parentEntityId" title="Entities" class="nya-bs-select" ng-model="vm.search.parentEntityId" data-size="10" live-search="true">
                        <li nya-bs-option="entity in vm.entities" class="nya-bs-option" value="entity.entityId">
                            <a>{{entity.name}}<span class="fa fa-check check-mark"></span></a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <ol id="childEntityId" name="childEntityId" title="Entities" class="nya-bs-select" ng-model="vm.search.childEntityId" data-size="10" live-search="true">
                        <li nya-bs-option="entity in vm.entities" class="nya-bs-option" value="entity.entityId">
                            <a>{{entity.name}}<span class="fa fa-check check-mark"></span></a>
                        </li>
                    </ol>
                </div>
            </div>

        </div>

        <fieldset ng-disabled="vm.loading">

            <button type="submit" class="btn btn-success">Search<i class="fa fa-search"></i></button>

        </fieldset>

    </form>

    <div ng-hide="vm.loading">

        <hr />

        <table class="table table-striped table-hover table-bordered row-navigation table-sm" ng-class="{ 'disabled': vm.loading }">
            <thead>
                <tr>
                    <th scope="col">Name of Collection on Parent</th>
                    <th scope="col">Parent</th>
                    <th scope="col">Child</th>
                </tr>
            </thead>
            <tbody ui-sortable="vm.sortOptions" ng-model="vm.relationships">
                <tr ng-repeat="relationship in vm.relationships" ng-click="vm.goToRelationship(relationship.entity.project.projectId, relationship.entity.entityId, relationship.relationshipId)">
                    <td><div class="table-cell"><i class="fa fa-sort sortable-handle" ng-if="vm.relationships.length > 1" ng-click="$event.stopPropagation();"></i></div><div class="table-cell">{{ relationship.collectionName }}</div></td>
                    <td>{{ relationship.parentEntity.name }}</td>
                    <td>{{ relationship.childEntity.name }}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
