<div>

    <form ng-submit="vm.runSearch(0)" novalidate>

        <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="form-group">
                    <input type="search" id="q" ng-model="vm.search.q" max="100" class="form-control" placeholder="Search fields" />
                </div>
            </div>

        </div>

        <fieldset ng-disabled="vm.loading">

            <button type="submit" class="btn btn-success">Search<i class="fa fa-search"></i></button>

        </fieldset>

    </form>

    <div ng-hide="vm.loading">

        <hr />

        <table class="table table-striped table-hover table-bordered row-navigation table-sm" ng-class="{ 'disabled': vm.loading }">
            <thead>
                <tr>
                    <th scope="col">Entity</th>
                    <th scope="col">Name</th>
                    <th scope="col">Key Field</th>
                    <th scope="col">Show In Search Results</th>
                    <th scope="col">Search Type</th>
                </tr>
            </thead>
            <tbody ui-sortable="vm.sortOptions" ng-model="vm.fields">
                <tr ng-repeat="field in vm.fields" ng-click="vm.goToField(field.entity.project.projectId, field.entity.entityId, field.fieldId)">
                    <td><i class="fa fa-sort sortable-handle mt-1" ng-if="vm.fields.length > 1" ng-click="$event.stopPropagation();"></i><div class="sortColumnText">{{ field.entity.name }}</div></td>
                    <td>{{ field.name }}</td>
                    <td>{{ field.keyField ? "Yes" : "No" }}</td>
                    <td>{{ field.showInSearchResults ? "Yes" : "No" }}</td>
                    <td>{{ vm.appSettings.find(vm.appSettings.searchType, field.searchType).label }}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
