<div class="form-group">
    <div class="col-sm-12" style="background:#eee;padding:10px 10px 0;border:solid 1px #666;">
        <p><strong>Whoops!</strong></p>
        <p>
            It looks like something went wrong. The error has been logged and will be fixed ASAP.
        </p>
    </div>
</div>

